.product-item td {
  vertical-align: middle;
}

.product-item td img {
    width:auto;
    height: 80px;;
}

@mixin cross($size: 10px, $color: currentColor, $thickness: 1px) {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: $size;
    height: $size;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: ($size - $thickness) / 2;
      left: 0;
      right: 0;
      height: $thickness;
      background: $color;
      border-radius: $thickness;
    }

    &:before {
      transform: rotate(45deg);
    }  

    &:after {
      transform: rotate(-45deg);
    }  

    span {
      display: block;
    }
  
}

.product-item td .btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: #D10024;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  
  .icon-cross {
    @include cross(15px, #fff, 2px);   
  }
  
  &:hover,
  &:focus {
    transform: rotateZ(90deg);
    background: black;
  }

}

.product-item td .btn-quantity {
  color:black;
  background-color: #FFF;
  border: 1px solid #E4E7ED;
  height: 25px;
  width: 25px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 3px;
  font-weight: bold;
}

.product-item td .btn-quantity.limit {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
  font-weight: 500;
  cursor: default;
}

.product-item td .btn-quantity:hover {
  background-color: #E4E7ED;
  color: #D10024;
}

.product-item td .btn-quantity.limit:hover {
  background-color: #D10024;
  color: #FFF;
}

.product-item td span {
  display: inline-block;
  width: 20px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
}

