.tab-pane {
    display: block;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    padding-bottom: 60px;
    margin-bottom: -60px;
}

.tab-pane .slick-list {
    padding-bottom: 60px;
    margin-bottom: -60px;
    z-index: 2;
}